<div class="article">
    <button class="btn btn-goBack">Go Back</button>
    <div class="row">
        <div class="col-12">
            <div class="update-button" data-id=${article.article_id} data-toggle="modal" data-target="#updateArticleModal"></div>
            <div class="delete-button" data-id=${article.article_id}></div>
            <h1 class="article-title">Title</h1>
            <div class="image-wrapper"><img class="article-image" src="http://atgbcentral.com/data/out/55/4389056-dog-picture.jpg" alt="Card image cap"></div>
            <p class="author-name-wrapper"> by <span class="author-name">Author's name</span></p>
            <p class="article-text">Text of the article</p>
        </div>
    </div>
</div>