<!-- Create article -->
<div class="create-article">
    <form>
        <div class="form-group">
        <label for="aticleTitle">Title</label>
        <input type="text" class="form-control" id="aticleTitle" placeholder="Title">
        </div>
        <div class="form-group">
        <label for="aticleImage">Image</label>
        <input type="text" class="form-control" id="aticleImage" placeholder="Image">
        </div>
        <button class="add_form_field">Add New Image &nbsp; 
                <span style="font-size:16px; font-weight:bold;">+ </span>
        </button>
        <div class="form-group">
        <label for="aticleText">Text</label>
        <textarea class="form-control" id="aticleText" placeholder="Text" rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-create">Create</button>
    </form>
</div>