<!-- Article article -->
<div class="update-article">
        <form>
            <div class="form-group">
            <label for="aticleTitle">Title</label>
            <input type="text" class="form-control" id="aticleTitle" placeholder="Title">
            </div>
            <div class="form-group">
            <label for="aticleImage">Image</label>
            <input type="text" class="form-control" id="aticleImage" placeholder="Image">
            </div>
            <div class="form-group">
            <label for="aticleText">Text</label>
            <textarea class="form-control" id="aticleText" placeholder="Text" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-update">Update</button>
        </form>
    </div>